<footer>
    <div class="brand-line-2">
        <span>
            <img src="../images/anz-png-brand-logo.png" alt="">
        </span>
    </div>
    <div class="foot text-center navbar-bottom">
        <p>All Rights Reserved, ANZ @ 2019 | New Approach to SMJ</p>
    </div>
</footer>
<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script> -->
<!-- <script src="/Chart.js"></script> -->
<script src="/lib/bootstrap/bootstrap.min.js"></script>
<script src="/js/main.js"></script>


</body>

</html>